html, body, a, div, h2, table, thead, tfoot, tbody, tr, th, td, ul, li, input, datalist, select {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

body {
    -webkit-user-select: none;
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: #eee; }

ul {
    list-style: none; }

a {
    color: #007fcc;
    text-decoration: none; }
    a:hover {
        color: #0072ba;
        text-decoration: underline; }

input, select {
    line-height: normal;
    font-family: inherit;
    box-sizing: border-box; }

.container {
    position: relative;
    padding: 12px; }

.heading {
    cursor: default;
    overflow: hidden;
    line-height: 33px;
    padding: 0 11px;
    color: #555;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #edf0fb;
    border: 1px solid;
    border-color: #dadef2 #ced8ee #c2ceec;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #f4f6fc, #e2e6f8);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.05); }
    .heading > h2 {
        float: left;
        font-size: 13px;
        font-weight: bold; }
    .heading + .table {
        margin-top: 5px; }
    .table + .heading {
        margin-top: 12px; }

.heading-links {
    float: right;
    line-height: 18px;
    margin: 8px -11px 0 11px; }
    .heading-links > li {
        float: left; }
        .heading-links > li > a {
            cursor: pointer;
            display: block;
            padding: 0 11px; }
        .heading-links > li + li {
            border-left: 1px solid #c9d3f2;
            border-left-color: rgba(183, 192, 223, 0.6);
            box-shadow: inset 1px 0 rgba(255, 255, 255, 0.2), -1px 0 rgba(255, 255, 255, 0.2); }

.table {
    cursor: default;
    width: 100%;
    line-height: 31px;
    text-align: left;
    background: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); }
    .table + .table {
        margin-top: 5px; }

.table-head > tr > th {
    padding: 0 10px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    background: #2c92ed;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #1d87e2 #187ed9 #1670c1;
    background-image: linear-gradient(to bottom, #49a4fc, #208be7);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 0 0 1px rgba(255, 255, 255, 0.06), 0 1px rgba(0, 0, 0, 0.04); }
    .table-head > tr > th:first-child {
        border-left-width: 1px;
        border-top-left-radius: 3px; }
    .table-head > tr > th:last-child {
        border-top-right-radius: 3px; }
    .table-head > tr > th:first-child {
        width: 16px; }
    .table-head > tr > th:last-child {
        width: 200px; }
    #newsactions {
        width: 300px; }

.table-body > tr:nth-child(2n) {
    background: #f9f9f9; }
.table-body > tr:hover {
    background: #f4f4f4; }
.table-body > tr > td {
    padding: 0 10px;
    text-shadow: 0 1px white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0, 0, 0, 0.07); }
    .table-body > tr > td:first-child {
        border-left: 1px solid #d2d2d2; }
    .table-body > tr > td:last-child {
        border-right-color: #d2d2d2; }
    .table-body > tr > td.red {
        color: #9c0006;
        background: #ffc7ce; }
    .table-body > tr > td.orange {
        color: #9c6500;
        background: #ffeb9c; }
    .table-body > tr > td.green {
        color: #069c00;
        background: #ceffc7; }
    .table-body > tr > td.loading {
        background: url(/img/ajax-loader.gif) no-repeat;
        background-position: 10px center; }
    .table-body > tr > td > a {
        cursor: pointer; }

.table-foot > tr > td {
    cursor: pointer;
    text-align: center;
    position: relative;
    line-height: 28px;
    padding-left: 9px;
    color: #777;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #f4f4f4;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #dbdbdb #d2d2d2 #ccc;
    background-image: linear-gradient(to bottom, #fbfbfb, #ededed);
    box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.2); }
    .table-foot > tr > td:first-child {
        border-left-width: 1px;
        border-bottom-left-radius: 3px; }
    .table-foot > tr > td:last-child {
        border-bottom-right-radius: 3px; }
    .table-foot > tr > td:hover {
        background: #f2f2f2; }
    .table-foot > tr > td:active {
        background: #eee;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 -1px rgba(0, 0, 0, 0.02), -1px 0 rgba(255, 255, 255, 0.2); }

input[type=text], input[type=url], input[type=search] {
    width: 100%;
    padding: 0 7px;
    height: 29px;
    color: #666666;
    background: white;
    border: 1px solid #c6c6c6;
    border-top-color: #bbb;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06), 0 1px rgba(255, 255, 255, 0.4); }
    input[type=text]:focus, input[type=url]:focus, input[type=search]:focus {
        color: #404040;
        background: white;
        border-color: #51b5fb;
        outline: none;
        box-shadow: inset 0 0 2px #51b5fb, 0 0 3px #51b5fb; }
    input.invalid {
        color: #833230;
        text-shadow: 0 1px rgba(255, 255, 255, 0.3);
        background: #fbd3c4;
        border-color: #e55d48 #e5725a #e5725a; }

.select {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 27px;
    background: #f4f4f4;
    border: 1px solid #ccc;
    border-bottom-color: #c4c4c4;
    border-radius: 3px;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #fcfcfc, #eeeeee);
    box-shadow: inset 0 1px white, inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.05); }
    .select > select {
        display: block;
        position: relative;
        width: 112%;
        height: 25px;
        line-height: 17px;
        margin: 0;
        padding: 4px;
        padding-left: 9px;
        color: #62717a;
        text-shadow: 0 1px white;
        background: transparent;
        background: rgba(0, 0, 0, 0);
        border: 0;
        -webkit-appearance: none; }
        .select > select:focus {
            z-index: 2;
            width: 100%;
            outline: 1px solid #51b5fb;
            outline-offset: -1px; }
    .select option {
        text-shadow: none; }
    .select:before, .select:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 10px;
        width: 0;
        height: 0;
        border: 3px dashed;
        border-color: #aaa transparent;
        border-color: rgba(0, 0, 0, 0.4) transparent;
        pointer-events: none; }
    .select:before {
        border-bottom-style: solid;
        border-top: none; }
    .select:after {
        margin-top: 6px;
        border-top-style: solid;
        border-bottom: none; }
