html, body, div, span, a, img, ol, ul, li, label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

body {
    -webkit-user-select: none;
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: #eee; }

ol, ul {
    list-style: none; }

span {
    font-weight: bold;
    cursor: default; }

div.table {
    display: table;
    width: 100%;
    border-collapse: collapse; }
    div.table.hidden {
        display: none; }

div.row {
    display: table-row; }
    div.row + div.row {
        border-top: 5px solid transparent; }

div.cell {
    display: table-cell;
    width: 50%; }
    div.cell + div.cell {
        border-left: 5px solid transparent; }

#widget {
    position: relative;
    margin: 50px auto;
    width: 640px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.07); }

.widget-list-header {
    position: relative;
    display: block;
    line-height: 31px;
    padding: 12px;
    font-weight: bold;
    color: #555;
    text-decoration: none; }
    li:last-child > .widget-list-header {
        border-radius: 0 0 3px 3px; }
    .widget-list-header > div > a:link {
        color: #555;
        text-decoration: none; }
    .widget-list-header > div > a:visited {
        color: #999;
        text-decoration: none; }
    .widget-list-header > div > a:hover {
        text-decoration: underline; }
    .widget-list-header > div > a:active {
        color: #0C0;
        text-decoration: underline; }

.checkout-input {
    margin-bottom: 5px;
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding: 0 7px;
    height: 34px;
    color: #525864;
    background: white;
    border: 1px solid;
    border-color: #b3c0e2 #bcc5e2 #c0ccea;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #f6f8fa, white);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5); }
    .checkout-input:focus {
        border-color: #46aefe;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe; }
    .checkout-input.error {
        border-color: #fe4652;
        outline: none;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #fe4652; }
    .checkout-input.loading {
        background: url(/img/ajax-loader.gif) no-repeat, linear-gradient(to bottom, #f6f8fa, white), white;
        background-position: right 7px center;
        padding-right: 30px; }

.checkout-btn {
    width: 100%;
    height: 34px;
    padding: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid;
    border-color: #1486f9 #0f7de9 #0d6acf;
    background: #1993fb;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .checkout-btn:active {
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border-color: #075bba #0c69d2 #0f7de9;
        background-image: linear-gradient(to bottom, #1281dc, #1593fc);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5); }
    .checkout-btn.redlike {
        border-color: #f91414 #e90f10 #cf110d;
        background: #fb1922;
        background-image: linear-gradient(to bottom, #fe4c58, #fc222d 40%, #f6131c); }
        .checkout-btn.redlike:active {
            border-color: #ba0d07 #d2120c #e90f10;
            background-image: linear-gradient(to bottom, #dc121c, #fc1520); }

.checkout {
    margin-top: 5px;
    padding: 15px;
    background: #f3f6fa;
    border: 1px solid;
    border-color: #c2cadb #bbc5d6 #b7c0cd;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    max-height: 200px; }
    .checkout + .table {
        margin-top: 5px; }


label > div.inputerror {
    cursor: text;
    position: absolute;
    font-weight: bold;
    font-style: italic;
    color: #fe4652;
    padding-left: 7px;
    line-height: 32px;
    right: 20px;
    background-image: linear-gradient(to bottom, #f6f8fa, white);
    box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.1);
    top: 13px; }
    label:nth-child(2) > div.inputerror {
        top: 52px; }
    label:nth-child(3) > div.inputerror {
        top: 91px; }

.widget-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 9px 12px 0;
    text-align: left;
    background: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 3px 0 0; }

.widget-tab {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    line-height: 36px;
    font-weight: normal;
    color: #999;
    background: #fcfcfc;
    border: solid #ddd;
    border-width: 1px 1px 0;
    border-radius: 4px 4px 0 0;
    margin-right: -1px;
    cursor: pointer;
    min-width: 60px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none; }
    .widget-tab.active-tab {
        bottom: -1px;
        margin-top: 0;
        padding-bottom: 2px;
        line-height: 34px;
        font-weight: bold;
        color: #555;
        background: white;
        border-top: 0;
        margin: 0 -1px;
        border-top: 4px solid #4cc8f1; }

.widget-list {
    display: none;
    padding-top: 50px; }
    .widget-list.active-list {
        display: block; }
    .widget-list > li + li {
        border-top: 1px solid #e8e8e8; }

.widget-list-link {
    display: block;
    overflow: hidden;
    padding: 10px 12px;
    cursor: pointer; }
    .widget-list-link:hover {
        background: #f7f7f7; }
    li:last-child > .widget-list-link {
        border-radius: 0 0 3px 3px; }
    .widget-list-link > div {
        position: relative;
        float: left;
        width: 510px;
        margin-right: 12px;
        line-height: 31px;
        font-weight: bold;
        color: #555;
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
        .widget-list-link > div.news {
            width: 519px; }
        .widget-list-link > div > span {
            cursor: inherit;
            display: block;
            font-size: 11px;
            font-weight: normal;
            color: #999;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
            .widget-list-link > div > span.green {
                color: #0C0; }
            .widget-list-link > div > span.red {
                color: red; }
    .widget-list-link > img.full {
        position: relative;
        float: left;
        width: 42px;
        height: 62px;
        margin-right: 12px; }
    .widget-list-link > img.button {
        cursor: default;
        float: right;
        width: 30px;
        height: 30px;
        margin-top: 11px;
        border: 5px solid transparent;
        border-radius: 3px; }
        .widget-list-link:hover > img.button:hover {
            background: lightblue; }
        .widget-list-link > img.button + img.button {
            margin-right: 5px; }

.tasks-list-cb {
    display: none; }

.tasks-list-mark {
    cursor: pointer;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    width: 20px;
    height: 20px;
    border: 2px solid #c4cbd2;
    border-radius: 12px; }
    .tasks-list-mark:before, .tasks-list-mark:after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -6px;
        height: 4px;
        width: 8px;
        border: solid #39ca74;
        border-width: 0 0 4px 4px;
        transform: rotate(-45deg); }
    .tasks-list-mark:after, .tasks-list-cb:disabled ~ .tasks-list-mark {
        cursor: default;
        border-color: #1993fb; }
    .tasks-list-cb:checked ~ .tasks-list-mark {
        border-color: #39ca74; }
    .tasks-list-cb:checked ~ .tasks-list-mark:before, .tasks-list-cb:disabled ~ .tasks-list-mark:after {
        display: block; }

.fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1003;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear; }
    .fade.visible {
        visibility: visible;
        opacity: .80;
        transition: opacity 0.2s linear; }

.light {
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
    max-width: 616px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    border: 5px solid gray;
    border-radius: 10px;
    background-color: white;
    z-index: 1004;
    overflow-y: visible;
    visibility: hidden;
    opacity: 0; }
    .light.visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s 0.2s; }

.search-ac {
    display: none;
    position: absolute;
    top: 123px;
    left: 12px;
    right: 12px;
    z-index: 10;
    background: #fdfdfd;
    border: 1px solid;
    border-color: #cbcfe2 #c8cee7 #c4c7d7;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #fdfdfd, #eceef4);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
    .search-ac.visible {
        display: block; }
    .search-ac li {
        display: block; }
        .search-ac li:first-child {
            margin-top: -1px; }
        .search-ac li:first-child:before, .search-ac li:first-child:after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            left: 50%;
            margin-left: -5px;
            border: 5px outset transparent; }
        .search-ac li:first-child:before {
            border-bottom: 5px solid #c4c7d7;
            top: -11px; }
        .search-ac li:first-child:after {
            border-bottom: 5px solid #fdfdfd;
            top: -10px; }
        .search-ac li:first-child:hover:before, .search-ac li:first-child:hover:after {
            display: none; }
        .search-ac li:last-child {
            margin-bottom: -1px; }
    .search-ac a {
        line-height: 20px;
        cursor: pointer;
        display: block;
        position: relative;
        margin: 0 -1px;
        padding: 6px 40px 6px 10px;
        color: #808394;
        font-weight: 500;
        text-decoration: none;
        text-shadow: 0 1px white;
        border: 1px solid transparent;
        border-radius: 3px; }
        .search-ac a.greenlike {
            color: #0C0; }
        .search-ac a:before {
            content: '';
            position: absolute;
            top: 50%;
            right: 10px;
            margin-top: -9px;
            width: 18px;
            height: 18px;
            background: url(/img/arrow.png) 0 0 no-repeat; }
        .search-ac a:hover {
            color: white;
            text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
            background: #338cdf;
            border-color: #2380dd #2179d5 #1a60aa;
            background-image: linear-gradient(to bottom, #59aaf4, #338cdf);
            box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.08); }

.help {
    position: absolute;
    right: 20px;
    top: 91px;
    width: 32px;
    height: 32px;
    background: url(/img/help.png) no-repeat;
    background-size: 100% 100%; }
    .help.highlight {
        background: url(/img/help-highlight.png) no-repeat;
        background-size: 100% 100%; }
    .help + .checkout-input {
        padding-right: 44px; }

html, body, a, div, h2, table, thead, tbody, tr, th, td, header, nav, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

body {
    font: 12px/20px 'Lucida Grande', Verdana, sans-serif;
    color: #404040;
    background: #eee; }

ul {
    list-style: none; }

a {
    cursor: pointer;
    color: #007fcc;
    text-decoration: none; }
    a:hover {
        color: #0072ba;
        text-decoration: underline; }

header {
    padding-top: 50px;
    background: #3d4144 url(/img/bg.png) 0 0 repeat;
    border-bottom: 5px solid #ddd; }

.header {
    margin: 0 auto;
    width: fit-content; }

nav {
    height: 36px;
    background: #464b4c;
    border-top: 1px solid #353939;
    border-bottom: 1px solid #2e3131;
    background-image: linear-gradient(to bottom, #464b4c, #3f4344);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06); }
    nav ul {
        float: left;
        border-left: 1px solid #353939;
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        border-right: 1px solid #4d5354;
        border-right: 1px solid rgba(255, 255, 255, 0.06); }
    nav li {
        float: left;
        padding: 0 20px;
        line-height: 36px;
        color: #ddd;
        text-shadow: 0 -1px #2e3131;
        border-left: 1px solid #4d5354;
        border-left: 1px solid rgba(255, 255, 255, 0.06);
        border-right: 1px solid #353939;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: 0.1s ease-out;
        transition-property: background-color, line-height; }
        nav li:hover {
            background: #4d5354;
            background: rgba(255, 255, 255, 0.05); }
            nav li.active, nav li.active:hover, nav li:active {
                padding: 0 21px;
                line-height: 33px;
                color: #eee;
                background: #323637;
                border-left: 0;
                border-right: 0;
                border-bottom: 3px solid;
                background-image: linear-gradient(to bottom, #484e4f, #323637);
                box-shadow: inset 0 -1px #151717, inset 0 -1px 8px rgba(0, 0, 0, 0.2); }
            nav li.active.yellow, nav li.yellow:active {
                border-bottom-color: #c0bb30; }
            nav li.active.green, nav li.green:active {
                border-bottom-color: #56c93d; }
            nav li.active.blue, nav li.blue:active {
                border-bottom-color: #48a9c0; }
            nav li.active.red, nav li.red:active {
                border-bottom-color: #a54e49; }
            nav li.active.purple, nav li.purple:active {
                border-bottom-color: #c052b9; }

.container {
    position: relative;
    padding: 12px; }

.heading {
    overflow: hidden;
    line-height: 33px;
    padding: 0 11px;
    color: #555;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #edf0fb;
    border: 1px solid;
    border-color: #dadef2 #ced8ee #c2ceec;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #f4f6fc, #e2e6f8);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.05); }
    .heading > h2 {
        float: left;
        font-size: 13px;
        font-weight: bold; }
    .heading + .table {
        margin-top: 5px; }
    .table + .heading {
        margin-top: 12px; }

.heading-links {
    float: right;
    line-height: 18px;
    margin: 8px -11px 0 11px; }
    .heading-links > li {
        float: left; }
        .heading-links > li > a {
            cursor: pointer;
            display: block;
            padding: 0 11px; }
        .heading-links > li + li {
            border-left: 1px solid #c9d3f2;
            border-left-color: rgba(183, 192, 223, 0.6);
            box-shadow: inset 1px 0 rgba(255, 255, 255, 0.2), -1px 0 rgba(255, 255, 255, 0.2); }

.table {
    cursor: default;
    width: 100%;
    line-height: 31px;
    text-align: left;
    background: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06); }

.table-head > tr > th {
    cursor: pointer;
    padding: 0 10px;
    font-weight: bold;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: #ecf0f0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #c8c8c8;
    border-right: 1px solid #ddd;
    border-right-color: rgba(0, 0, 0, 0.12);
    background-image: linear-gradient(to bottom, #f5fafa, #e7eaea);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 1px rgba(0, 0, 0, 0.04); }
    .table-head > tr > th:hover {
        text-decoration: underline; }
    .table-head > tr > th:first-child {
        width: 16px;
        border-left: 1px solid #ccc;
        border-top-left-radius: 3px; }
    .table-head > tr > th:last-child {
        border-right-color: #ccc;
        border-top-right-radius: 3px; }
    .table-head > tr > th:after {
        float: right; }
    .table-head > tr > th.asc:after {
        content: '\25B2'; }
    .table-head > tr > th.desc:after {
        content: '\25BC'; }

.table-body > tr:nth-child(2n) {
    background: #f8f8f8; }
.table-body > tr:hover {
    background: #f3f3f3; }
.table-body > tr:last-child > td {
    border-bottom: 1px solid #ccc; }
.table-body > tr:last-child > td:first-child {
    border-bottom-left-radius: 3px; }
.table-body > tr:last-child > td:last-child {
    border-bottom-right-radius: 3px; }
.table-body > tr > td {
    padding: 0 10px;
    text-shadow: 0 1px white;
    border-right: 1px solid #eee;
    border-right-color: rgba(0, 0, 0, 0.08); }
    .table-body > tr > td:first-child {
        border-left: 1px solid #ccc; }
    .table-body > tr > td:last-child {
        border-right-color: #ccc; }
    .table-body > tr > td.red {
        color: #9c0006;
        background: #ffc7ce; }
    .table-body > tr > td.orange {
        color: #9c6500;
        background: #ffeb9c; }
    .table-body > tr > td.green {
        color: #069c00;
        background: #ceffc7; }
    .table-body > tr > td.checking {
        background: url(/img/ajax-loader.gif) no-repeat;
        background-position: 5px center; }
